html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

html,
body,
* {
    box-sizing: border-box;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d3f43;
    background: radial-gradient(circle, #222314 0%, #181b2f 100%);
}

.outer {
    border: 2px solid #876a4a;
    border-radius: 100%;
    padding: 16px;
    background-color: #292718;
}

.meter {
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

.meter .top {
    height: 50%;
    position: relative;
    border-bottom: 2px solid #292718;
}

.meter .handw {
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 16px;
    height: 60%;
    transform: translateX(-50%);
}

.meter .hand {
    width: 100%;
    height: calc(100% - 10px);
    background-color: #a64c4c;
    border-radius: 9px 9px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
    transition: transform 1s ease-in-out;
    transform-origin: bottom center;
    transform: translateX(0) rotate(0deg);
}

.meter .hand.active {
    animation: tick 1s linear infinite;
}

.meter .handw::after {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    background-color: #a4a4a4;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

@keyframes tick {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    33% {
        transform: translateX(0) rotate(-30deg);
    }

    66% {
        transform: translateX(0) rotate(30deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    flex-direction: column;
    gap: 8px;
}

.top .circle {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #87877f;
    border-radius: 100%;
    position: absolute;
    /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5); */
}

.meter {
    background-color: #000;
    color: #666;
}

.duration {
    font-size: 14px;
    line-height: 1;
}

.speed {
    font-size: 14px;
    line-height: 1.3;
    color: #888;
    color: #284a7f;
    width: 66%;
    text-align: center;
    padding: 4px 0;
    border-radius: 20px;
    border-top: 1px solid #0f1c2f;
    border-bottom: 1px solid #0f1c2f;
}

.btnw {
    padding-top: 4px;
}

.btn {
    background-color: #738a38;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 13px;
    line-height: 1;
    padding: 4px 10px;
    border-radius: 20px;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.6;
}

.btn::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid currentColor;
}

.btn.active {
    background-color: #a64c4ccc;
}

.btn.active::before {
    width: 8px;
    height: 8px;
    border-top: none;
    border-left: none;
    border-bottom: none;
    background-color: currentColor;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    color: #a4a4a4;
    border-top: 1px solid #373e49;
    font-size: 14px;
}

.footer a:hover,
.footer a:active,
.footer a:visited,
.footer a {
    color: #a4a4a4;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
}

.footer .links {
    flex: 1;
}

.footer>div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer a {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.footer .theme-dark {
    display: none;
}

.footer.light .theme-dark {
    display: flex;
}

.footer.light .theme-light {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 20px;
    padding-bottom: 20px;
}

.modal .content .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal .content .input {
    margin-top: 10px;
}

.modal .content {
    width: 280px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 24px 24px 24px;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
}

.modal .content .label {
    font-size: 13px;
    margin-bottom: 4px;
    font-weight: bold;
    opacity: 0.6;
    position: relative;
    padding-left: 16px;
}

.modal .content .label::before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: currentColor;
    border-radius: 100%;
}

.modal .content .select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
    line-height: 1;
}

.modal .content .select div {
    padding: 8px 4px;
    text-align: center;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
    cursor: pointer;
}

.modal .content .select div:hover {
    background-color: #f0f0f0;
}

.modal .content .select div:first-child {
    border-radius: 6px 0 0 0;
}

.modal .content .select div:nth-child(3) {
    border-radius: 0 6px 0 0;
}

.modal .content .select div:nth-last-child(3) {
    border-radius: 0 0 0 6px;
}

.modal .content .select div:last-child {
    border-radius: 0 0 6px 0;
}

.modal .content .select div.active {
    background-color: #284a7f;
    color: #fff;
}

.modal .content .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.modal .content .foot .set-defaults {
    font-size: 13px;
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
    color: #284a7fbb;
}

.modal .content .mbtn {
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
}

/* Light theme */
.app.light {
    background-color: #f0f0f0;
    background: #f0f0f0;
    background: radial-gradient(circle, #e1e1e1 0%, #d5daff 100%);
}

.app.light .outer {
    background-color: #e4e3d8;
}

.app.light .top {
    border-bottom: 2px solid #876a4a;
}

.app.light .meter {
    background-color: #c3c0af;
}

.app.light .meter .handw::after {
    background-color: #dbdbdb;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.app.light .speed {
    border-top: 1px solid #284a7f;
    border-bottom: 1px solid #284a7f;
}

.app.light .btn {
    color: #ffffffcc;
}

.app.light .btn.active {
    background-color: #a64c4c;
}

.footer.light {
    color: #444;
    border-top: 1px solid #b6b6b6;
}

.footer.light a:hover,
.footer.light a:active,
.footer.light a:visited,
.footer.light a {
    color: #444;
}

/* Helpers */
.click:hover {
    opacity: 0.75;
    cursor: pointer;
}

.click:active {
    opacity: 1;
}

.fade-in {
    animation: fadeIn 0.3s ease-in forwards;
}

.fade-out {
    animation: fadeOut 0.3s ease-out forwards;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Responsive */
@media (max-width: 360px) {
    .h-small {
        display: none;
    }
}